<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tatar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="TatLinguo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tatar">
        <activity android:name=".FinalCheck"></activity>
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemStudyFinal" />
        <activity android:name=".MemStudyTest" />
        <activity android:name=".MemStudy" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".EnterActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>